* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body {
  margin: 0;
  font-family: "Work Sans", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* --- 
---APP---
---*/
.app {
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 15px;
}

.header,
.about-me,
.projects,
.formation {
  padding: 25px 25px 25px;
}

/* ---
--- Header---
--- */
.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 3em;  

  text-align: center;
}

.socials {
  display: flex;
  justify-content: center;

  margin: 5px;
}

.header--img {
  max-width: 12em;
  height: auto;
  margin: auto;
  border-radius: 50%;
}

.header--content {
  width: 400px;
  margin: 0 auto;
  justify-content: center;
}

/*---
---Header logo---
---*/
.socials--logo {
  
  margin: 25px auto 0;
  background: #000000;
  margin: 2px;

  padding: 4px;
  width: 30px;

  border: none;
  border-radius: 25%;

  transition: all .3s ease;
}


.logo--border {
  border: solid 1.5px #ffffff;
  display: flex;
  border-radius: 25%;
  width:37px;
  justify-content: center;
  margin: 3px;
  transition: all .3s ease;
}
.logo--border:hover {
  border: solid 1.5px  #000000;
}


/* ---
---Projects---
--- */

.section--title {
  
  margin: 0 0 2% 2%;
  font-size: 2.4em;
  
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:1.8em;
}

/*card*/
.project {
  height: 550px;
  max-width: 100%;
  width: 445px;
  border-radius: 8px;
  margin: 10px;
  padding: 1.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff; 
  border: 2px solid #0088BB;
}

.project--title {
  font-size: 1.7em;
}

.project img,
.project p {
  margin-top: 7px;
  margin-bottom: 7px;
}

.project p {
  font-size: 1.2em;
}


/*---Card photo---*/
.project--img {
  width: 100%;  
  margin: 20px 0 10px;
  object-fit: cover;
  overflow: hidden;

  border-radius: 8px; 
  transition:transform 0.25s ease;
}
.project--img:hover {
  -webkit-transform:scale(1.1); /* or some other value */
  transform:scale(1.1);
  border: solid 1px grey;
}

/*---Card photo popup---*/
.popup-image {
  position: fixed;
  top:0; left:0;
  background:rgba(0, 0, 0, .9);
  height: 100%;
  width: 100%;
  z-index: 100;
  
}

.popup-image img{
  
  border: 5px solid #fff;
  border-radius: 5px;
  max-width: 90%;
  max-height: 90%;
  object-fit: cover;
  display: flex;
  position: relative;
  margin: 0 auto;
  top: 5%
}



/* Button */
.project--buttons {
  display: flex;
  flex-wrap: wrap;
  gap:30px;
  
  justify-content: center;
}

.project a {
  margin: 11px 5px 10px;
  font-family: "Work Sans";
  font-size: 21px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  transition: all 250ms ease;
}

.project--button--site {  
  background: #0088BB;
  padding: 15px 19px 0px 18px;
  color: white;
}

.project--button--code {
  background: #161b22;
  color: white;
  padding: 3px 19px 3px 8px; 
 
}

.project--button--code img {
  vertical-align: -15px;
  background: #161b22;
  margin: 7px 10px 6px 3px;
  padding: 1px;
  width: 35px;
  border: none;
  border-radius: 25%;
  cursor: pointer;
  transition: all 250ms ease;
}

/*---
---About-me---
---*/

.about-me--text {
  margin: 2% 0 2% 8%;
}

/*---
---Formation---
---*/
.formation--content {
  display: flex;
}

.formation--list {
  margin: 2% 0 2% 8%;
}

.formation--list--element {
 margin-bottom: 3%;
}

.formation--list--element--ul {
  margin: 0.8% 0 2% 7%;
}

.formation--list--element--li {
  margin: 0.8%;
}

.formation--logos {
  margin: 2%;
  max-width: 40%;
  flex-wrap: wrap;
  align-items: center;
}


.formation--logo {
  padding: 10px;
  max-width: 80px;
}


/*---
---Switch---
---*/

.switch--on .switch--off {
  display: flex;

  /* Rounded border */
  border-radius: 9999px;

  /* Size */
  height: 2rem;
  width: 4rem;

  /* Demo */
  margin-bottom: 0.5rem;
}

.switch--input {
  /* Hide the input */
  display: none;
}

.switch--circle {
  /* Rounded border */
  border-radius: 9999px;

  /* Size */
  width: 2rem;

  background-color: #fff;
}

/* ON status */
.switch--on {
  background-color: #357edd;
  border: 1px solid #357edd;

  /* Push the circle to the right */
  justify-content: flex-end;
}

/* OFF status */
.switch--off {
  background-color: #d1d5db;
  border: 1px solid #d1d5db;
}
.switch--off .switch__circle {
  border: 1px solid #d1d5db;
}


/*---
---Responsive---
---*/
@media screen and (max-width: 400px) {
  .project--buttons {
    gap:10px;   
  }
}

@media screen and (max-width: 956px) {
  .cards {
    gap:1em;   
  }
}

@media screen and (max-width: 923px) {
 .project{
  width: 100%;
 }
 .cards {
  gap:1em;   
}

@media screen and (max-width: 358px) {
  .project--buttons{
    gap: 0;
  } 
  .project a {
    margin: 2px;
  }
 }

}