* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Work Sans", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* --- 
---APP---
---*/
.bg-div {
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .7s;
}

.bg-div-dark {
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .7s;
  background-color: #1c1c1e;
  outline: solid 300px #1c1c1e;

  color: #fefefe;
}

.app {
  max-width: 1500px;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 15px;

}

.app-dark {

  max-width: 1500px;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 15px;

}

.header,
.projects,
.formation {
  padding: 25px 25px 25px;
}

/* ---
--- Header---
--- */
.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 3em;
  position: relative;
  text-align: center;
}



/* --- Header-MultiLanguagues--- */
.header--languages {
  z-index: 99;
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  display: flex;
  gap: 5px;
  font-size: 1.05rem;
  margin-top: 4px;
  margin-right: 7px;
  text-decoration: none;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .7s;
}

.header--languages-isEng {
  z-index: 99;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  gap: 5px;
  font-size: 1.05rem;
  margin-top: 4px;
  margin-right: 7px;
  cursor: pointer;
  text-decoration: none;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .7s;
}

.header--languages-en-on,
.header--languages-fr-on {
  color: #000000;
  font-weight: 700;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .7s;
}

.header--languages-en-on-dark,
.header--languages-fr-on-dark {
  color: #0088bb;
  font-weight: 700;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .7s;
}

.header--languages-en-off,
.header--languages-fr-off {
  color: gray;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .7s;
}

.header--languages-en-off-dark,
.header--languages-fr-off-dark {
  color: gray;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .7s;
}



/* --- Header-light/dark mod--- */
.header--style {
  z-index: 99;
  position: absolute;
  top: 0;
  right: 63px;
  display: flex;
  gap: 5px;
  font-size: 1em;
  margin-top: 5px;
  margin-right: 9px;
  cursor: pointer;
  text-decoration: none;
  height: 24px;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .7s;

}

/* --- --- */

.socials {
  display: flex;
  justify-content: center;
  margin: 5px;
}

.header--img {
  max-width: 12em;
  height: auto;
  margin: auto;
  border-radius: 50%;
}

.header--content {
  width: 400px;
  margin: 0 auto;
  justify-content: center;
}

/*---
---Header logos---
---*/
.socials--logo {

  margin: 25px auto 0;
  background: #000000;
  margin: 2px;
  padding: 4px;
  width: 30px;
  border: none;
  border-radius: 25%;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .7s;
}

.socials--logo-dark {

  margin: 25px auto 0;
  background: #ffffff;
  margin: 2px;

  padding: 4px;
  width: 30px;

  border: none;
  border-radius: 25%;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .7s;
}

.logo--border {
  border: solid 1.5px #ffffff;
  display: flex;
  border-radius: 25%;
  width: 37px;
  justify-content: center;
  margin: 3px;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .7s;
}

.logo--border:hover {
  border: solid 1.5px #000000;
}

.logo--border-dark {
  border: solid 1.5px #1c1c1e;
  display: flex;
  border-radius: 25%;
  width: 37px;
  justify-content: center;
  margin: 3px;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .7s;
}

.logo--border-dark:hover {
  border: solid 1.5px #fefefe;
}

h1 {
  font-size: 2.5em;
}

h3 {
  font-size: 1.5em;
}

/* ---
---Projects---
--- */

.section--title {

  margin: 0 0 2% 2%;
  font-size: 2.1em;

}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.8em;
}

/*card*/
.project {
  height: 550px;
  max-width: 100%;
  width: 445px;
  border-radius: 8px;
  margin: 10px;
  padding: 1.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid #0088BB;
}

.project--title {
  font-size: 1.7em;
}

.project img,
.project p {
  margin-top: 7px;
  margin-bottom: 7px;
}

.project p {
  font-size: 1.2em;
}


/*---Card photo---*/
.container--img{
  position: relative; 
  width: 100%;
  margin: 20px 0 10px;
  object-fit: cover;
  overflow: hidden;

  border-radius: 8px;
  transition: transform 0.25s ease;
}
.project--img {
  display: block;
  width: 100%;
  margin: 20px 0 10px;
  object-fit: cover;
  overflow: hidden;
  cursor: pointer;

  border-radius: 8px;
  transition: transform 0.25s ease;
}

.projetc--img--maximize{
  display: block;
  width: 7%;
  position: absolute; 
  top:5px;
  right:5px;
  background-color: #000000;
  border-radius: 15%;
  opacity: 0.75;
  cursor: pointer;
}


/*---Card photo popup---*/
.popup-image {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .9);
  height: 100%;
  width: 100%;
  z-index: 100;

}

.popup-image img {
  border: 5px solid #fff;
  border-radius: 5px;
  max-width: 90%;
  max-height: 90%;
  object-fit: cover;
  display: flex;
  position: relative;
  margin: auto;
  margin-top: 20px;
  margin-bottom: auto;
  top: 5%
}
.close-btn {
  color: #ffffff;
  position: fixed;
  font-size: 15px;
  top: 1%;
  right: 3%;
  background: rgba(0, 0, 0, .9);
}


/* Button */
.project--buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  justify-content: center;
}

.project a {
  margin: 11px 5px 10px;
  font-family: "Work Sans";
  font-size: 21px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  transition: all 250ms ease;
}

.project--button--site {
  background: #0088BB;
  padding: 15px 19px 0px 18px;
  color: white;
}

.project--button--code {
  background: #161b22;
  color: white;
  padding: 3px 19px 3px 8px;

}

.project--button--code-dark {
  background: #000000;
  color: white;
  padding: 3px 19px 3px 8px;

}

.project--button--code img {
  vertical-align: -15px;
  margin: 7px 10px 6px 3px;
  padding: 1px;
  width: 35px;
  border: none;
  border-radius: 25%;
  cursor: pointer;
  transition: all 250ms ease;
}

.project--button--code-dark img {
  vertical-align: -15px;
  margin: 7px 10px 6px 3px;
  padding: 1px;
  width: 35px;
  border: none;
  border-radius: 25%;
  cursor: pointer;
  transition: all 250ms ease;
}

.coming-soon {
  font-weight:700
}

/*---
---Formation---
---*/
.formation--content {
  display: flex;
}

.formation--list {
  margin: 2% 0 2% 8%;
}

.formation--list--element {
  margin-bottom: 3%;
}

.formation--list--element--ul {
  margin: 0.8% 0 2% 7%;
}

.formation--list--element--li {
  margin: 0.8%;
}

.formation--logos {
  margin: 2%;
  max-width: 40%;
  flex-wrap: wrap;
  align-items: center;
}


.formation--logo {
  padding: 10px;
  max-width: 80px;
}

.certif {
  color: #0088BB
}



/*---
---Responsive---
---*/
@media screen and (max-width: 1010px) {
  .cards {
    gap: 1em;
  }

  .project {
    width: 400px;
  }
}

@media screen and (max-width: 923px) {
  .project {
    width: 100%;
  }
}

@media screen and (max-width: 4455px) {

  .header,
  .projects,
  .formation {
    padding: 25px 10px 25px
  }

}

@media screen and (max-width: 400px) {
  .project--buttons {
    gap: 10px;
  }

  .header--img{
    margin-top: 8%;
  }

  .header,
  .projects,
  .formation {
    padding: 25px 5px 25px
  }

}

@media screen and (max-width: 358px) {
  .project--buttons {
    gap: 0;
  }

  .project a {
    margin: 2px;
  }
}